################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Connect4Service/.vs/Connect4Service/v15
/Connect4Service/Ka4.Core/bin/Debug
/Connect4Service/Ka4.Core/obj/Debug
/Connect4Service/Ka4.WebApi/bin/Debug/net461
/Connect4Service/Ka4.WebApi/obj
/Connect4Service/Ka4.Core/bin/Debug
/connect4UI/node_modules
/Connect4Service/.vs/config/applicationhost.config
